/* custom styles */

body {
  background-color: #006272;
  font-family: "Noto Sans", sans-serif;


}

header {
  height: 450px;
  background: url("/Users/dkingdon/wdi/dkingdon.github.io/assets/imgs/moabCliff.jpg") no-repeat center center;
  background-size: cover;
  background-position: center;
  }

header h1 {
  font-size: 80px;
  font-weight: bolder;
  color: white;
  text-align: center;
  margin-top: 0px;
}

.headline {
  margin-top: 100px;
}

nav {
  display: inline-block;
  float: right;
  margin-bottom: 0;
}

nav a {
  text-decoration: none;
  color: white;
  margin: 180px 20px 0 20px;
  text-align: right;
}
